# IDEs & Editors
.vscode/
*.code-workspace
.idea/
*.iml
*.iws
*.ipr
*~
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Project Specific
data.json
.markdown
.devprune.json
.devprune-ignore
ignore.devprune.json
